/* line 9, ../sass/_functions.scss */
.branding-acme {
  color: #737f57;
  background-color: #f5f7f3; }
  /* line 13, ../sass/_functions.scss */
  .branding-acme .btn-default {
    color: #737f57;
    background-color: #d4dac8;
    background-image: none; }
    /* line 18, ../sass/_functions.scss */
    .branding-acme .btn-default:hover {
      background-color: #d4dac8; }
  /* line 23, ../sass/_functions.scss */
  .branding-acme .navbar {
    border: none; }
    /* line 26, ../sass/_functions.scss */
    .branding-acme .navbar .container {
      background-color: #d4dac8; }
    /* line 30, ../sass/_functions.scss */
    .branding-acme .navbar .navbar-brand {
      color: #737f57; }
    /* line 34, ../sass/_functions.scss */
    .branding-acme .navbar .navbar-collapse {
      border: none; }
    /* line 38, ../sass/_functions.scss */
    .branding-acme .navbar .navbar-nav {
      background-color: #f5f7f3; }
      /* line 41, ../sass/_functions.scss */
      .branding-acme .navbar .navbar-nav > li > a {
        color: #737f57; }
        /* line 44, ../sass/_functions.scss */
        .branding-acme .navbar .navbar-nav > li > a:hover, .branding-acme .navbar .navbar-nav > li > a:focus {
          background-color: #b1ba9b; }
      /* line 49, ../sass/_functions.scss */
      .branding-acme .navbar .navbar-nav > .active > a {
        color: #737f57;
        background-color: #b1ba9b;
        background-image: none;
        font-weight: bold; }
      /* line 57, ../sass/_functions.scss */
      .branding-acme .navbar .navbar-nav > .active > a:hover, .branding-acme .navbar .navbar-nav > .active > a:focus {
        color: #99a67d; }
    /* line 62, ../sass/_functions.scss */
    .branding-acme .navbar .navbar-toggle {
      border-color: #d4dac8; }
      /* line 66, ../sass/_functions.scss */
      .branding-acme .navbar .navbar-toggle:hover, .branding-acme .navbar .navbar-toggle:focus {
        border-color: #d4dac8;
        background-color: #b1ba9b; }
      /* line 71, ../sass/_functions.scss */
      .branding-acme .navbar .navbar-toggle .icon-bar {
        background-color: #737f57; }

/* line 9, ../sass/_functions.scss */
.branding-acme2 {
  color: red;
  background-color: white; }
  /* line 13, ../sass/_functions.scss */
  .branding-acme2 .btn-default {
    color: red;
    background-color: #ffcccc;
    background-image: none; }
    /* line 18, ../sass/_functions.scss */
    .branding-acme2 .btn-default:hover {
      background-color: #ffcccc; }
  /* line 23, ../sass/_functions.scss */
  .branding-acme2 .navbar {
    border: none; }
    /* line 26, ../sass/_functions.scss */
    .branding-acme2 .navbar .container {
      background-color: #ffcccc; }
    /* line 30, ../sass/_functions.scss */
    .branding-acme2 .navbar .navbar-brand {
      color: red; }
    /* line 34, ../sass/_functions.scss */
    .branding-acme2 .navbar .navbar-collapse {
      border: none; }
    /* line 38, ../sass/_functions.scss */
    .branding-acme2 .navbar .navbar-nav {
      background-color: white; }
      /* line 41, ../sass/_functions.scss */
      .branding-acme2 .navbar .navbar-nav > li > a {
        color: red; }
        /* line 44, ../sass/_functions.scss */
        .branding-acme2 .navbar .navbar-nav > li > a:hover, .branding-acme2 .navbar .navbar-nav > li > a:focus {
          background-color: #ff8080; }
      /* line 49, ../sass/_functions.scss */
      .branding-acme2 .navbar .navbar-nav > .active > a {
        color: red;
        background-color: #ff8080;
        background-image: none;
        font-weight: bold; }
      /* line 57, ../sass/_functions.scss */
      .branding-acme2 .navbar .navbar-nav > .active > a:hover, .branding-acme2 .navbar .navbar-nav > .active > a:focus {
        color: #ff4d4d; }
    /* line 62, ../sass/_functions.scss */
    .branding-acme2 .navbar .navbar-toggle {
      border-color: #ffcccc; }
      /* line 66, ../sass/_functions.scss */
      .branding-acme2 .navbar .navbar-toggle:hover, .branding-acme2 .navbar .navbar-toggle:focus {
        border-color: #ffcccc;
        background-color: #ff8080; }
      /* line 71, ../sass/_functions.scss */
      .branding-acme2 .navbar .navbar-toggle .icon-bar {
        background-color: red; }
