@mixin colour-branding($name, $colour) {
  $colour-foreground: $colour;
  $colour-foreground-light:lighten($colour-foreground, 15%);

  $colour-background: lighten($colour, 25%);
  $colour-background-light: lighten($colour-background, 15%);
  $colour-background-lightest: lighten( $colour-background-light, 14%);

  .branding-#{$name} {
    color: $colour-foreground;
    background-color: $colour-background-lightest;

    .btn-default {
      color: $colour-foreground;
      background-color: $colour-background-light;
      background-image: none;

      &:hover {
        background-color: $colour-background-light;
      }
    }

    .navbar {
      border: none;

      .container {
        background-color: $colour-background-light;
      }

      .navbar-brand {
        color: $colour-foreground;
      }

      .navbar-collapse {
        border: none;
      }

      .navbar-nav {
        background-color: $colour-background-lightest;

        & > li > a {
            color: $colour-foreground;
            &:hover,
            &:focus {
              background-color: $colour-background;
            }
        }

        & > .active > a {
            color: $colour-foreground;
            background-color: $colour-background;
            background-image: none;
            font-weight: bold;
        }

        & > .active > a:hover,
        & > .active > a:focus {
            color: $colour-foreground-light;
        }
      }

      .navbar-toggle {
        border-color: $colour-background-light;

        &:hover,
        &:focus {
          border-color: $colour-background-light;
          background-color: $colour-background;
        }

        .icon-bar {
          background-color: $colour-foreground;
        }
      }

    }

  } // .branding-#{$name}
}